#container_width_liquid {
    padding: 3%;
    position: fixed;
    height: 99%;
    overflow: auto;
}

header {
    text-align: center;
    margin: auto;
}

#navigation {
    width: 99%;
    height: 5%;
    margin-bottom: 1%;
    text-align: center;
}

.columns {
    width: 100%;
    height: 43%;
    margin-top: 1%;
}

div[title~="caja"] {
    background: #efefef;
    padding: 4px;
}

.feature {
    width: 99%;
    height: 22%;
}

.colum1of3,
.colum2of3,
.colum3of3 {
    width: 29.8%;
    float: left;
    height: 100%;
    overflow-y: auto;
    /*  margin-top: 2%;*/
}

article {
    margin: 5%;
    text-align: justify;
}

.colum2of3 {
    margin-left: 4.1%;
    margin-right: 4.1%;
}

.footer {
    text-align: center;
    margin: auto;
    height: 5%;
    margin-top: 1%;
}

#navigation ul {
    width: 100%;
}

#navigation ul li {
    display: inline;
}

#navigation li a {
    float: left;
    width: 10%;
    padding-right: 10px;
}


/**************Fixed**************************/

#container_width_fixed {
    padding: 5px;
    margin: 0 auto;
    height: 90%;
    width: 960px;
    overflow: auto;
}

#navigation_fixed {
    width: 955px;
    height: 45px;
    margin-bottom: 1%;
    text-align: center;
}

.columns_fixed {
    width: 960px;
    height: 375px;
    margin-top: 1%;
}

div[title~="caja"] {
    background: #efefef;
    padding: 4px;
}

.feature_fixed {
    width: 955px;
    height: 160px;
}

.colum1of3_fixed,
.colum2of3_fixed,
.colum3of3_fixed {
    width: 298px;
    float: left;
    height: 100%;
    overflow-y: auto;
    /*  margin-top: 2%;*/
}

article_fixed {
    margin: 5%;
    text-align: justify;
}

.colum2of3_fixed {
    margin-left: 21px;
    margin-right: 21px;
}

.footer_fixed {
    text-align: center;
    margin: auto;
    height: 25px;
    margin-top: 1%;
}

#navigation_fixed ul {
    width: 100%;
}

#navigation_fixed ul li {
    display: inline;
}

#navigation_fixed li a {
    float: left;
    width: 10%;
    padding-right: 10px;
}