* {
    color: #665544;
    text-align: center;
}

#logo,
#nav,
#feature,
#footer {
    margin-top: 20px;
    padding: 10px 0px 5px 0px;
    background-color: rgba(255, 0, 128, 0.5);
    text-align: center;
}

#logo {
    height: 155px;
}

#feature {
    height: 200px;
}

.container_12 {
    height: 97%;
    margin: 0 auto;
    background-color: #fff;
    background-repeat: repeat-y;
    margin-bottom: 20px;
    background-image: url(../img/12_col.gif);
}

article p {
    text-align: center;
    opacity: 1;
    color: white;
}

div[title~="columna"] {
    margin-top: 20px;
    background: #FF0080;
    opacity: 0.5;
    height: 180px;
}


/*------------------------------------------------------*/